.password-modal {
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 10px 25px 25px 25px;
    border-radius: 7px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.modal-body>input {
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid;
}