.deals-container {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 40px 30px;
    gap: 10px;
    position: relative;
}

.d-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
}

.add-acc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    /* margin: 20px 0; */
}

.add-acc-btn:hover {
    background: black;
    color: #fff;
}

@media (max-width: 900px) {
    .deals-container {
        width: 100%;
    }

    .d-wrapper {
        flex-direction: column;
    }
}